* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

$bg-dark: #202040;
$bg-light: #f2f5f9;
$bg-gray: #ebf0f6;
$white: #ffffff;
$black: #000000;
$gray: #a0a4ab;
$dark: #000839;
$orange: #ff6363;
$orange-hover: #ff7777;

body {
  background-color: $bg-light;
  line-height: 1.8;
  color: $dark;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.subtitle {
  font-size: 13px;
  text-transform: uppercase;
  color: $orange;
}
.button {
  color: $white;
  background-color: $orange;
  border: 1px solid $orange;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 14px;
  transition: 0.3s all ease;
  &:hover {
    color: $white;
    background-color: $orange-hover;
  }
}
.title {
  margin-bottom: 48px;
  h2,
  p {
    margin-bottom: 24px;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 90000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  transition: 0.5s all ease;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  transition: 0.5s all ease;
  .spinner {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    color: $orange;
    border: 4px solid $orange;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 22;
  width: 100%;
  a {
    color: $white;
    transition: 0.3s all ease;
  }
  .navbar-easy {
    padding: 20px 0;
    .logo {
      font-size: 24px;
      font-weight: bold;
      color: $white;
    }
    .nav {
      display: inline-block;
      padding-left: 40px;
      list-style-type: none;
      li {
        display: inline-block;
        a {
          font-size: 14px;
          padding: 10px 15px;
        }
        &:hover {
          a {
            color: $orange;
          }
        }
      }
      li.active {
        a {
          color: $orange;
          &:hover {
            color: $orange-hover;
          }
        }
      }
      .drop {
        position: relative;
        .main {
          position: relative;
          &::before {
            content: "\f107";
            position: absolute;
            font-size: 10px;
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
        .dropdown {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          background-color: $white;
          padding: 20px 0;
          top: 100%;
          box-shadow: 0 2px 10px -2px #0000001a;
          transition: 0.3s all ease;
          margin-top: 20px;
          width: 145px;
          li {
            display: block;
            a {
              color: $dark;
              padding: 5px 20px;
              display: block;
            }
            &:hover {
              a {
                color: $orange;
              }
            }
          }
          .drop-2 {
            position: relative;
            .main {
              &::before {
                content: "\f105";
                right: 20px;
                position: absolute;
                font-size: 10px;
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            .dropdown-2 {
              position: absolute;
              opacity: 0;
              visibility: hidden;
              background-color: $white;
              padding: 20px 0;
              left: 100%;
              top: 0;
              box-shadow: 0 2px 10px -2px #0000001a;
              transition: 0.3s all ease;
              margin-top: 20px;
              width: 180px;
              li {
                a {
                  color: $dark;
                  padding: 5px 20px;
                  display: block;
                }
                &:hover {
                  a {
                    color: $orange;
                  }
                }
              }
            }
            &:hover {
              .dropdown-2 {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
              }
            }
          }
        }
        &:hover {
          .dropdown {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
          }
        }
      }
    }
    .button-nav {
      float: right;
      padding: 6px 20px;
      border: 2px solid #ffffff11;
      font-size: 14px;
      color: $white;
      border-radius: 30px;
      &:hover {
        background-color: $orange;
        border-color: $orange;
      }
    }
    .hamburger {
      display: none;
      position: relative;
      width: 28px;
      height: 32px;
      float: right;
      span {
        position: absolute;
        top: 15px;
        width: 100%;
        height: 2px;
        display: block;
        background: $white;
        border-radius: 2px;
        opacity: 1;
      }
      &::before {
        content: "";
        position: absolute;
        background-color: $white;
        width: 100%;
        top: 4px;
        height: 2px;
        border-radius: 2px;
        display: block;
        transition: 0.3s;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: $white;
        width: 100%;
        top: 26px;
        height: 2px;
        border-radius: 2px;
        display: block;
        transition: 0.3s;
      }
      &:hover {
        &::before {
          top: 7px;
        }
        &::after {
          top: 23px;
        }
      }
    }
    .hamburger.active {
      span {
        opacity: 0;
      }
      &::before {
        top: 40%;
        transform: rotate(45deg);
      }
      &::after {
        top: 40%;
        transform: rotate(-45deg);
      }
    }
  }
}
.mobile-nav {
  position: fixed;
  width: 300px;
  right: 0;
  padding-top: 20px;
  background-color: $white;
  height: calc(100vh);
  transition: 0.8s all ease;
  transform: translateX(100%);
  box-shadow: -10px 0 20px -10px #0000001a;
  z-index: 2000;
  .mobile-header {
    padding: 0 20px 30px 20px;
    width: 100%;
    .close-menu {
      position: relative;
      float: right;
      margin-top: 8px;
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      top: -20px;
      span {
        display: inline-block;
        padding: 0 0 20px 15px;
        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 2px;
          height: 30px;
          background: #000;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
  .body-menu {
    padding: 0 20px 20px 20px;
    ul {
      padding: 0;
      margin: 0;
      li {
        a {
          font-size: 14px;
          padding: 5px 20px;
          color: $dark;
          display: block;
          transition: 0.3s all ease;
          &:hover {
            color: $orange;
          }
        }
      }
      li.active {
        a {
          color: $orange;
          &:hover {
            color: $orange-hover;
          }
        }
      }
      .drop {
        position: relative;
        .arrow {
          position: absolute;
          top: 0;
          right: 0;
          width: 36px;
          height: 36px;
          text-align: center;
          cursor: pointer;
          border-radius: 50%;
          border: 1px solid #f8f9fa;
          &::before {
            content: "\f107";
            position: absolute;
            font-size: 10px;
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s all ease;
          }
        }
        .arrow.active {
          &::before {
            transform: rotate(180deg) translate(50%, 50%);
          }
        }
        .dropdown {
          padding-left: 20px;
          transition: 0.3s all ease;
          .drop-2 {
            position: relative;
            .dropdown-2 {
              padding-left: 20px;
              transition: 0.3 all ease;
            }
            .dropdown-2:not(.show) {
              opacity: 0;
              visibility: hidden;
              height: 0;
              width: 0;
            }
          }
        }
        .dropdown:not(.show) {
          opacity: 0;
          visibility: hidden;
          height: 0;
          width: 0;
        }
      }
    }
  }
}
.mobile-nav.active {
  transform: translateX(0);
}

#hero {
  background-color: $bg-dark;
  color: $white;
  position: relative;
  .main {
    position: relative;
    .h-650 {
      min-height: 650px;
    }
    .left {
      z-index: 2;
      h1 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 24px;
      }
      form {
        padding: 10px;
        border-radius: 7px;
        background: $white;
        box-shadow: 0 15px 30px 0 #0000001a;
        input[type="text"] {
          border: none;
          outline: none;
          height: 45px;
          display: block;
          width: 100%;
          padding: 6px 12px;
        }
        input[type="submit"] {
          box-shadow: 0 15px 30px 0 #00000033;
          border-radius: 7px;
          border: 1px solid $orange;
          background: $orange;
          color: $white;
          padding: 12px 30px;
          font-size: 14px;
          transition: 0.3s all ease;
          &:hover {
            background-color: $orange-hover;
          }
        }
      }
    }
    .right {
      position: absolute;
      z-index: 4;
      right: 0;
      bottom: 100px;
    }
  }
  .slant {
    background-image: url("../images/slant.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 380px;
    bottom: -2px;
    left: 0px;
    z-index: 1;
  }
}

#brands {
  padding: 16px 0;
}

#features {
  padding: 70px 0;
  .title {
    text-align: center;
  }
  .box {
    padding: 20px 40px;
    .img {
      display: inline-block;
      position: relative;
      background-color: $white;
      border-radius: 30px;
      width: 90px;
      height: 90px;
      box-shadow: 0 15px 30px 0 #0000000d;
      margin-bottom: 20px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 50px;
      }
    }
    h3 {
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
    }
  }
}

#join {
  padding: 70px 0;
  .swiper {
    padding: 40px 40px 70px 40px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 15px 30px 0 #0000000d;
    .swiper-slide {
      padding: 0 40px;
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
      .profile {
        margin-bottom: 24px;
        .image {
          margin-right: 16px;
          img {
            max-width: 80px;
            border-radius: 50%;
          }
        }
        .author {
          line-height: 1.4;
        }
      }
      .description {
        p {
          font-weight: 700;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      top: 85%;
    }
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      border: 1px solid #efefef;
      display: block;
      left: 80px;
      transition: 0.3s all ease;
      &:hover {
        border-color: $black;
      }
      &::after {
        content: "\f177";
        font-weight: 700;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-size: 20px;
        color: $black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .swiper-button-next {
      width: 40px;
      height: 40px;
      border: 1px solid #efefef;
      display: block;
      right: auto;
      left: 130px;
      transition: 0.3s all ease;
      &:hover {
        border-color: $black;
      }
      &::after {
        content: "\f178";
        font-weight: 700;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-size: 20px;
        color: $black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

#life {
  padding: 70px 0;
  .container {
    div:nth-child(1) {
      flex-direction: row-reverse;
    }
    div + div {
      padding-top: 140px;
    }
  }
}

#pricing {
  padding: 70px 0;
  .switch {
    a {
      width: 50px;
      height: 30px;
      border-radius: 30px;
      margin: 0 10px;
      background-color: $orange;
      transition: 0.3s all ease;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 1px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $white;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 5px 10px 0 #0000001a;
        transition: 0.3s all ease;
      }
    }
    a.active {
      &::before {
        left: 21px;
      }
    }
    span {
      margin-right: 8px;
      font-size: 14px;
    }
    .discount {
      background-color: $orange;
      padding: 4px 10px;
      color: $white;
      font-size: 10px;
      border-radius: 30px;
      font-weight: 700;
    }
  }
  .box {
    padding: 70px 30px;
    h3 {
      font-size: 24px;
      margin-bottom: 30px;
    }
    .description {
      color: $gray;
      padding-bottom: 16px;
      border-bottom: 1px solid #efefef;
      margin-bottom: 20px;
    }
    .per {
      margin-bottom: 24px;
      .price {
        height: 46px;
        overflow: hidden;
        div {
          transition: 0.5s all ease;
          p {
            color: $orange;
            font-weight: 700;
            font-size: 30px;
            margin: 0;
          }
        }
      }
      .date {
        height: 27px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        text-align: center;
        p {
          margin: 0;
        }
        .month {
          margin-left: 4px;
          div {
            transition: 0.5s all ease;
          }
        }
      }
    }
    .per.yearly {
      .price {
        div {
          transform: translateY(-50%);
        }
      }
      .date {
        .month {
          div {
            transform: translateY(-50%);
          }
        }
      }
    }
    ul {
      text-align: left;
      margin-bottom: 24px;
      li {
        margin-bottom: 8px;
        i {
          margin-top: 4px;
          margin-right: 8px;
        }
      }
    }
  }
  .box.active {
    background-color: $white;
    border-radius: 7px;
  }
}

#blog {
  padding: 70px 0;
  background-color: $bg-gray;
  .box {
    .image {
      display: block;
      height: 200px;
      filter: grayscale(1);
      background-size: cover;
      background-position: center;
      transition: 0.3s all ease;
    }
    .body {
      padding: 20px 20px 50px 20px;
      background-color: $white;
      span {
        font-size: 12px;
        color: $gray;
      }
      h3 {
        margin-bottom: 8px;
        a {
          color: $dark;
          font-size: 16px;
          transition: 0.3s all ease;
          &:hover {
            color: $orange;
          }
        }
      }
      p {
        margin-bottom: 16px;
      }
      .more {
        float: right;
        .label {
          color: $black;
          font-size: 13px;
          font-weight: 700;
          transition: 0.3s all ease;
          opacity: 0;
          visibility: hidden;
          position: relative;
          left: 10px;
        }
        .arrow {
          display: inline-block;
          margin-left: 10px;
          width: 30px;
          height: 30px;
          border: 1px solid #efefef;
          border-radius: 50%;
          transition: 0.3s all ease;
          position: relative;
          &::before {
            content: "\f054";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $orange;
            font-weight: 700;
            font-family: "Font Awesome 5 Free";
          }
        }
      }
    }
    &:hover {
      .image {
        filter: grayscale(0);
      }
      .body {
        .more {
          .label {
            opacity: 1;
            visibility: visible;
            left: 0;
          }
          .arrow {
            border-color: $orange;
          }
        }
      }
    }
  }
}

footer {
  padding: 70px 0 30px;
  font-size: 15px;
  h3 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 16px;
  }
  .left {
    margin-bottom: 30px;
  }
  .social {
    display: flex;
    margin: 0;
    padding: 0;
    a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background: #f8f9fa;
      color: $black;
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        color: $orange;
      }
    }
    li + li {
      margin-left: 5px;
    }
  }
  .links {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
      a {
        color: $black;
        &:hover {
          color: $orange;
        }
      }
    }
  }
  .copyright {
    padding-top: 40px;
    margin-top: 40px;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      height: 1px;
      background: #ebedee;
    }
    i {
      color: #dc3545;
    }
    a {
      color: $black;
      &:hover {
        color: $orange;
      }
    }
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 26px;
  }
  header {
    .nav,
    .button-nav {
      display: none !important;
    }
    .hamburger {
      display: inline-block !important;
    }
  }
  #hero {
    .main {
      .right {
        position: relative;
        margin-top: -200px;
        bottom: -100px;
        margin-bottom: 140px;
      }
    }
  }
  #features {
    padding: 30px 0;
  }
  #join {
    padding: 30px 0;
  }
  #life {
    padding: 30px 0;
  }
  #pricing {
    padding: 30px 0;
  }
  #blog {
    padding: 30px 0;
  }
  footer {
    padding: 30px 0;
  }
}
